.header{
    display: flex;
    justify-content: space-between;

    .home{
        margin-left: 100px;
            a{
                display: flex;
                align-items: center;
                text-decoration: none;
                img{
                    width: 50px;
                    height: 50px;
                }

                p{
                    text-align: center;
                    font-size: 20px;
                    color: $urprimary;
                    font-family: "微軟正黑體";
                }
                
            }
        }


    .container{
        display: flex;
        justify-content: flex-end;
        margin-right: 180px;
        
            .row-lg{
                    display: flex;
                    align-items:flex-end;

                    .col-lg-4{
                        text-align: center;
                        padding-left: 10px;
                        padding-right: 10px;

                        /* 滑鼠移過去就顯示 dropdown */
                        .dropdown:hover .dropdown-menu {
                            display: block;
                        }

                        .dropdown-item{
                            display: block;
                            width: 100%;
                        }

                        a{
                            text-decoration: none;
                            background:$urlcolor-bg;
                            color: $urprimary;
                            display: block;
                            
                            padding-top: 10px;
                            padding-bottom: 10px;

                            &:hover{
                                background: $urprimary;
                                color: $urlcolor-bg;
                            }
                        }
                    }
            }
        }
    }