.banner{
    img{
        width: 100%;
        height: 400px;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    
}

.content{
	max-width: 1024px;
	margin: 0 auto;
    .con_pic{
        display: flex;
        margin: 20px;
        margin-bottom: 100px;
        .con_p{
            margin: 20px; 

            h1,h2{
                font-size: 20px;
                font-family:verdana;
                line-height:1.5;
                color: $ursecondary;
            }
            p{
                font-family:verdana;
                line-height:1.5;
                padding-bottom: 20px;
                color: $urtext;
            }
        }
    }
}