.footer{
    background: gray;
    color: #fff;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;


    ul{
        display: flex;
        justify-content:center;
    }
    a{
        text-decoration: none;
    }
}