.content{

    #persondata{
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        padding-bottom: 30px;

        .col-4{
            margin-left: 5px;
            margin-right: 5px;

        }
    }
}