.header{
    height: 150px;
    display: flex;
    justify-content: center;

    .titlepro{
        width: 40px;
        height: 20px;
        margin-left: 10px;
    }
    .progress{
        
        width: 50rem;
    }
}