.content_wrap{
    margin-top: 50px;
    display: flex;


    .content{
        flex: 3;
        display: flex;
        flex-direction: column; 
        align-items: center;
        margin-left: 50px;
        padding-right: 50px;
        border-right: 2px solid $urtext;

        .title{
            width: 100px;
            height: 50px;
            display: flex;
            justify-content: center;
            padding-top: 15px;
            
            font-size: 20px;
        }

        .allstage{
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: space-between;

            .row{
                text-align: center;
                margin-top: 100px;
                .stage2{
                    
                    padding-top: 20px;
                }
                .stage4{
                    padding-top: 20px;
                }
                .stage6{
                    padding-top: 20px;
                }
                
            }
            
        }

    }

    .list{
        flex: 1;
        padding-right: 50px;
        padding-left: 50px;

        .pdata{

            p{
                text-align: center;
                font-size: 20px;
                margin-bottom: 20px;
            }
            .preson_state{
                display: flex;
                flex-direction: column; 
                align-items: center;

                text-align: center;
                font-size: 20px;
                color:$ursecondary;
            }
        }
    }
}