.footer{
    flex-basis: 10%;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;

    .YN{
        display: flex;
        margin: 15px;
        margin-left: 30px;
        p{
            padding-top: 15px;
            font-size: 50px;
        }
    }
    .check{
        margin: 30px;
        margin-right: 30px;
        width: 100px;
        height: 50px;

        p{
            padding-top: 5px;
            text-align: center;
        }
        
    }
}